<h1>{{ title }}</h1>

<div class="tutorial-block">
  <span>Tutorial:</span>
  <ul>
    <li>Drag elements around to move them.</li>
    <li>
      Drag elements slightly left and right (not changing their order) to
      increase/decrease indentation.
    </li>
  </ul>
  <hr />
  <div>
    Goal: Create a program in Python that prints "count 0", "count 1", ...
    "count 9", using a while loop.
  </div>
  <hr />
  <div>
    Steps:
    <ol>
      <li>Initialize a variable <b>count</b></li>
      <li>
        Print a string containing the string 'count' and then the value of
        <b>count</b>, e.g. "count 5"
      </li>
      <li>Increment the value of count</li>
      <li>Repeat for values of <b>count</b> from 0 to 9</li>
    </ol>
  </div>
</div>

<app-code-container></app-code-container>
